# config file
.env
# virtual enviroment
.venv
# local settings
.DS_Store
# python __pycache__
/Users/visontaileo/Developer/Anteus-test-task/SQLtoCSV/__pycache__
/Users/visontaileo/Developer/Anteus-test-task/SQLtoCSV/src/gui/__pycache__
/Users/visontaileo/Developer/Anteus-test-task/SQLtoCSV/src/database/__pycache__
